<div class="row">
  <div class="col-xs-12">
    <img class="rounded" style="max-width:350px;" src="https://i.imgur.com/6a2GBVO.jpg" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <a href="#" class="btn btn-primary active" aria-current="page">To Shopping List</a>
      <a href="#" class="btn btn-primary">Edit recipe</a>
      <a href="#" class="btn btn-primary">Delete recipe</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingridients
  </div>
</div>
