<h4>Recipe list</h4>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>
<div class="list-group">



  <div
    class="list-item card "
    style="..."
    *ngFor="let recipe of recipes">
    <img
      [src]="recipe.imagePath"
      class=" recipe-list_card-image img-thumbnail"
      alt="{{ recipe.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.name }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
      <a href="#" class="btn btn-primary float-end">View recipe</a>
    </div>
  </div>

<!--
  <div
  class="list-item d-flex justify-content-between align-items-start"
  style="..."
  *ngFor="let recipe of recipes">
  <div class="ms-2 me-auto" style="max-width:150px;">
    <img
      [src]="recipe.imagePath"
      class="relative"
      alt="{{ recipe.name }}">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
    <a href="#" class="btn btn-primary float-end">View recipe</a>
  </div>
</div>
 -->



</div>
<app-recipe-item></app-recipe-item>
