<div class="row">
  <div class="col-sm-5">
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="...">
        <div id="nameHelp" class="form-text">Show some input help here</div>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" aria-describedby="...">
        <div id="amountHelp" class="form-text">Show some input help here</div>
      </div>
      <div class="mb-3">
        <label for="unitOfMeasure" class="form-label">Units of Measure</label>
        <input type="text" class="form-control" id="unitOfMeasure" aria-describedby="...">
        <div id="unitOfMeasureHrlp" class="form-text">Show some input help here</div>
      </div>
      <button type="submit" class="btn btn-success m-1">Add</button>
      <button type="submit" class="btn btn-danger m-1">Delete</button>
      <button type="submit" class="btn btn-primary m-1">Celar</button>
    </form>
  </div>
</div>
